{% extends "home/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block content_heading %}
<div class="row">
  <div class="col-12">
    <h2>
      <span class="display-4">Böhmisch-sächsische Literaturlandschaft</span><br>
      <span class="display-4 text-muted">Česko-saská literární krajina</span>
    </h2>
  </div>
</div>
{%endblock %}

{% block header_languages %}{% endblock %}

{% block content_main %}
<div class="row">

  <div class="col-8">

    <div class="row">
      <div class="col-12">
        <h2 class="mb-4">Ziele des Projekts <span class="text-muted">Cíle projektu</span></h2>

        <p>Das Projekt macht netzbasiert den kulturell-literarischen Reichtum der Grenzregion Böhmen-Sachsen erstmals bewusst und erfahrbar. Die Lebens-, Schaffens- und Denkorte der Autor*innen dieses bewegten Raumes sollen insbesondere erschlossen werden für:</p>

        <ul class="list-unstyled font-weight-bold text-center">
            <li>interessierte Besucher,</li>
            <li>die schulische Arbeit,</li>
            <li>die universitäre Ausbildung.</li>
        </ul>

        <p>Die Sicherung, Kommentierung und Verbreitung wichtiger Kulturschätze trägt zur Verhinderung grassierenden Vergessens bei: Die gemeinsame kulturelle Identität, die Identifizierung mit der Region und deren Bekanntheit werden gestärkt.</p>
        <p>Die Nutzung digitaler Medien soll gerade auch ein jüngeres Publikum für Erinnerungskultur regionaler Ausrichtung interessieren.</p>
        <p>Zu diesem Zweck ist eine Zusammenarbeit mit Bildungsträgern höchst erwünscht – das Angebot von didaktischen Materialien und die Gestaltung der Inhalte mit Blick auf die Lehrpläne der sächsischen Schulen soll dieses Ansinnen fördern.</p>

        <figure class="figure my-4 d-block text-center">
          <img src="{% static 'screenshots/client-300x270.png' %}" class="figure-img img-fluid" alt="Prototyp des Nutzerclients / Prototyp uživatele klienta">
          <figcaption class="figure-caption">Prototyp des Nutzerclients / Prototyp uživatele klienta</figcaption>
        </figure>

        <div class="text-muted">
          <p>Projekt se snaží zviditelnit a vnést do širšího povědomí kulturní a literární bohatství pohraniční oblasti Čech a Saska. Místa, která jsou neoddělitelně spojena s životy i tvorbou autorek a autorů, mají být zpřístupněna zejména:</p>
          <ul class="list-unstyled font-weight-bold text-center">
            <li>běžným návštěvníkům a milovníkům literatury,</li>
            <li>školám,</li>
            <li>VŠ studentům a učitelům.</li>
          </ul>

         <p>Znovuobjevení a zpřístupnění významného kulturního odkazu přispěje k zamezení neblahého zapomínání: dojde k podpoření společné kulturní identity i identifikace s regionem, jehož popularita a atraktivita se touto cestou posílí.</p>
         <p>Využití digitálních médií by mělo podpořit zájem o regionální kulturu u mladšího publika.</p>
         <p>Za tímto účelem je nanejvýš žádoucí spolupráce se vzdělávacími institucemi – tento požadavek podporuje nabídka didaktických materiálů a texty připravované s ohledem na učební plány saských škol.</p>

          <figure class="figure my-4 d-block text-center">
            <img src="{% static 'screenshots/client2-300x188.jpg' %}" class="figure-img img-fluid" alt="Prototyp des Redaktionsclients / Prototyp redakčního klienta">
            <figcaption class="figure-caption">Prototyp des Redaktionsclients / Prototyp redakčního klienta</figcaption>
          </figure>
        </div>
      </div>
      <div class="col-12">
        <h2 class="mb-4">
          Beitrag der Hochschule für Technik und Wirtschaft Dresden - Labor Geoinformatik<br>
          <span class="text-muted">Příspěvek HTW Dresden (Laboratoř GI)</span>
        </h2>

        <p>Das Labor Geoinformatik der Fakultät Geoinformation ist mit der Entwicklung des webbasierten Literaturinformationssystems (LIS) betraut. Die Entwicklung gliedert sich dabei in Endbenutzeroberfläche ("Client", o.a. "App") und eine Administrationsoberfläche.</p>
        <p class="text-muted">Vývoj webového literární informačního systému (LIS).</p>

        <h3>Oberflächenentwürfe</h3>
        <p>
          Im Rahmen einer durch die Projektmitarbeiter betreuten, studentischen Abschlussarbeit wurden umfangreiche Oberflächenentwürfe
          der interaktiven Karte für Desktop, Tablet und Smartphone erstellt. Sie dienen bei der Implementierung der Endanwenderoberfläche
          als Diskussions- und Planungsgrundlage.
        </p>

        <div class="row">
          <div class="col-sm-6">
            <figure class="figure text-center">
              <img src="{% static 'screenshots/Karte_Suche_Filter_Gestartet_D.jpg' %}" class="figure-img img-fluid" alt="Oberflächenentwurf für Desktop Computer">
              <figcaption class="figure-caption">Oberflächenentwurf für Desktop Computer</figcaption>
            </figure>
          </div>
          <div class="col-sm-6">
            <figure class="figure text-center">
              <img src="{% static 'screenshots/Autorenverzeichnis_Initial_SP.jpg' %}" class="figure-img" style="height: 195px;" alt="Oberflächenentwurf für Smartphones">
              <figcaption class="figure-caption">Oberflächenentwurf für Smartphones</figcaption>
            </figure>
          </div>
        </div>

        <h3>Interaktive-Demo</h3>

        <p>Für die interne Qualitätssicherung und als Hilfsmittel für die Fachanwender wurde eine Demo implementiert, die bereits die ersten per CMS eingespeisten Inhalte aufbereitet.</p>

        <p>Zum gegenwärtigen Zeitpunkt, ist die Demo nur für angemeldete Projektmitarbeiter einsehbar.</p>

        <figure class="figure my-4 d-block text-center">
          <img src="{% static 'screenshots/Demo_Autoren.png' %}" class="figure-img img-fluid w-50" alt="Übersicht Autoren">
          <figcaption class="figure-caption">Übersicht Autoren</figcaption>
        </figure>

        <h3>Content Management System (CMS) - Administrationsoberfläche</h3>

        <p>
          Für Fachanwender und Editoren wird bereits eine mehrsprachige Administrationsoberfläche angeboten über die LIS-Inhalte eingespeist werden können. Über eine
          Benutzerverwaltung und Moderationswerkzeuge werden die Medien- und Textinhalte für die anschließende Veröffentlichung vorbereitet.
        </p>

        <p>
          Derzeit wurden <b>{{authors_count}} Autoren</b> im System hinterlegt. Ihnen zugeordnet sind <b>{{locations_count}} Orte</b> und <b>{{memorial_sites_count}} Erinnerungsstellen</b>.
        </p>

        <p>
          Auf Grundlage der erhobenen Daten wird im zweiten Teil der Entwickungszeit schließlich die interaktive Karte entstehen.
        </p>

        <p>Das Content Management System ist quelloffen und unter der wenig restriktiven BSD-Lizenz veröffentlicht. Der Quellcode kann im <a href="https://github.com/bentrm/lis" alt="LIS CMS Repository" target="_blank">öffentlichen Repository (externer Link)</a> eingesehen werden.</p>

        <div class="row">
          <div class="col-sm-6">
            <figure class="figure text-center">
              <img src="{% static 'screenshots/CMS_Autoren_0.2.1.png' %}" class="figure-img" style="height: 195px;" alt="Content Management System - Autorenauswahl">
              <figcaption class="figure-caption">Content Management System - Autorenauswahl</figcaption>
            </figure>
          </div>
          <div class="col-sm-6">
            <figure class="figure text-center">
              <img src="{% static 'screenshots/CMS_Editor_0.2.1.png' %}" class="figure-img" style="height: 195px;" alt="Content Management System - Editor">
              <figcaption class="figure-caption">Content Management System - Editor</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4 border-left">
    <div class="row">
      <div class="col-12 mb-4">
        <h3>Gefördert durch <span class="text-muted">Sponzorováno</span></h3>

        <a href="http://www.sn-cz2020.eu/" class="d-block mx-auto w-100 py-2">
          <img src="{% static 'logos/logo_eu.svg' %}" alt="Logo EU Fonds" class="img-fluid">
        </a>
        <a href="http://www.sn-cz2020.eu/" class="d-block mx-auto w-50 py-2">
          <img src="{% static 'logos/logo_sn_cz.svg' %}" alt="Logo SN CZ" class="img-fluid">
        </a>
      </div>
      <div class="col-12 mb-4">
        <h3>Projektpartner <span class="text-muted">Partneři projektu</span></h3>

        <a href="https://tu-dresden.de/" class="d-block mx-auto w-50 py-2">
          <img src="{% static 'logos/logo_tu_dresden.svg' %}" alt="Logo TU Dresden" class="img-fluid">
        </a>

        <a href="https://www.tul.cz/" class="d-block mx-auto w-50 py-2">
          <img src="{% static 'logos/logo_tu_liberec.svg' %}" alt="Logo TU Liberec" class="img-fluid">
        </a>

        <a href="https://www.htw-dresden.de/" class="d-block mx-auto w-50 py-2">
          <img src="{% static 'logos/logo_htw_dresden.svg' %}" alt="Logo HTW Dresden" class="img-fluid">
        </a>
      </div>
      <div class="col-12 mb-4">
        <h3>
          Plakat <span class="text-muted">Plakát</span>
        </h3>

        <a href="https://geoinformatik.htw-dresden.de/wordpress/wp-content/uploads/2017/08/Poster_V3_A0_Web.jpg" class="d-block mx-auto w-75 py-2">
          <img src="{% static 'screenshots/Poster_V3_A0_Web-212x300.jpg' %}" alt="HTW Poster zum Projekt" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
