@import "bootstrap";

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {
      border-top: $border-width solid $border-color !important;
    }
    .border#{$infix}-right {
      border-right: $border-width solid $border-color !important;
    }
    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color !important;
    }
    .border#{$infix}-left {
      border-left: $border-width solid $border-color !important;
    }

    .border#{$infix}-top-0 {
      border-top: 0 !important;
    }
    .border#{$infix}-right-0 {
      border-right: 0 !important;
    }
    .border#{$infix}-bottom-0 {
      border-bottom: 0 !important;
    }
    .border#{$infix}-left-0 {
      border-left: 0 !important;
    }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
  }
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 18px;
  }
}

.Footer {
  border-top: 1.5rem solid theme-color-level("primary", -1);
  background-color: theme-color("primary");
}

.Footer-content {
  min-height: 10rem;
}

.SponsorLogo {
  max-height: 2.5rem;
}

.Logo {
  .fa-bookmark {
    color: theme-color("light");
  }

  .fa-globe {
    color: theme-color("primary");
  }
}

.display-1,
.display-2,
.display-3,
.display-4,
dl,
.navbar-brand {
  font-family: $font-family-monospace;
}

dl {
  font-size: .8rem;
}

.Readable {
  max-width: 60rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.Author-card {
  img.Author-badge {
    height: $display4-size;
    width: $display4-size;
    margin-bottom: $paragraph-margin-bottom;
  }

  span.placeholder {
    width: $display4-size;
  }
}

.Memorial-card {
  img.Memorial-badge {
    height: $h5-font-size;
    width: $h5-font-size;
    margin-bottom: $paragraph-margin-bottom;
  }

  span.placeholder {
    width: $h5-font-size;
  }
}

.Author {

  article {
    font-size: 1.2rem;
  }

  .bookmark {
    color: theme-color("primary");
  }

  figcaption {
    text-align: center;
    font-size: .8rem;
  }

  footer {
    font-size: 0.8rem;

    li {
      padding: .2rem 1rem;
    }

    li.active {
      background-color: gray("200");
    }

    p {
      margin-bottom: 0.2rem;
    }
  }

  .Level-Btn.active::after {
    border-bottom: none;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid darken(theme-color("primary"), 10%);
    bottom: -15px;
    content: ' ';
    left: 50%;
    position: absolute;
    right: 50%;
  }
}

.leaflet-marker-icon {
  .drop-shadow {
    -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .7));
    transition: filter 0.2s ease-in-out;

    &:hover {
      -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
    }
  }

  &.leaflet-marker-icon-selected .drop-shadow {
    -webkit-filter: drop-shadow(0 0 10px rgba(163, 22, 33, .7));
    filter: drop-shadow(0 0 10px rgba(163, 22, 33, .7));
  }

}
