{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<section class="row">

  <div class="col-8">
    <div class="row">
      <div class="col-12">
        {% if value.heading %}
        <h4>{{ value.heading }}</h4>
        {% endif %}
        {% include_block value.content %}
      </div>

      {% if value.footnotes %}
      <footer class="col-12 footnotes">
        <ol>
        {% for footnote in value.footnotes %}
          {% include_block footnote %}
        {% endfor %}
        </ol>
      </footer>
      {% endif %}
    </div>

  </div>

  <div class="col-4">
    <div class="row">
      {% for image in value.images %}
        <div class="col-12 mb-4">
          {% image image fill-350x350 as tmp_image %}
          <figure class="figure w-100">
            <img src="{{ tmp_image.url }}" class="figure-img img-fluid w-100 rounded" alt="{{ tmp_image.alt }}">
            {% if tmp_image.image.i18n_caption %}
            <figcaption class="figure-caption">{{ tmp_image.image.i18n_caption }}</figcaption>
            {% endif %}
          </figure>
        </div>
      {% endfor %}
    </div>
  </div>

</section>
