<div class="Author-card media">
  {% include 'app/snippets/_author-badge-sm.html' with author=author class_names="Author-badge border border-primary rounded-circle  align-self-center mr-3" only %}

  <div class="media-body">
    <p class="m-0">
      <a href={{ '#TODO' }}>{{ author.title }}</a>
      <small class="d-block">
        <i class="fas fa-asterisk fa-fw"></i>
  {#      <FormattedDate year={dateOfBirthYear} month={dateOfBirthMonth} day={dateOfBirthDay} />#}
{#        {bornIn && <span> in {bornIn}</span>}#}
      </small>
      <small class="d-block">
        <i class="fas fa-cross fa-fw"></i>
  {#      <FormattedDate year={dateOfDeathYear} month={dateOfDeathMonth} day={dateOfDeathDay}/>#}
{#          {diedIn && <span> in {diedIn}</span>}#}
      </small>
    </p>
</div>
</div>
