{% extends "cms/base.html" %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<div class="row mt-4">

  <div class="col-8">
    <h1 class="display-1">LIS</h1>
    <h2 class="display-2">{{ page }}</h2>
    <p>{% trans 'Date of birth' %}: {{page.date_of_birth_day}}.{{page.date_of_birth_month}}.{{page.date_of_birth_year}}</p>
    <p>{% trans 'Date of death' %}: {{page.date_of_death_day}}.{{page.date_of_death_month}}.{{page.date_of_death_year}}</p>

    <p>{% trans 'Languages' %}: {% for cat in page.languages.all %}{{cat}} {% endfor %}</p>
    <p>{% trans 'Categories' %}: {% for cat in page.literary_categories.all %}{{cat}} {% endfor %}</p>
    <p>{% trans 'Categories' %}: {% for cat in page.literary_categories.all %}{{cat}} {% endfor %}</p>
    <p>{% trans 'Literary periods' %}: {% for per in page.literary_periods.all %}{{per}} {% endfor %}</p>
  </div>

  <div class="col-4">
    {% image page.title_image fill-350x350 as tmp_image %}
    <figure class="figure">
      <img src="{{ tmp_image.url }}" class="figure-img img-fluid rounded" alt="{{ tmp_image.alt }}">
      <figcaption class="figure-caption">{{ tmp_image.image.i18n_caption }}</figcaption>
    </figure>
  </div>

  {% for child in page.get_children.specific %}
  <div class="col-12">
    <h2>{{child}}</h2>
    <article class="mt-2">
      {% for text in child.get_texts %}
        <h3>{{text.0}}</h3>
        {{ text.1|safe}}
      {% endfor %}
    </article>
  </div>
  {% endfor %}

</div>
{% endblock %}
