{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load wagtailuserbar %}
{% load wagtailcore_tags %}

{% block title %}
Demo: {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.i18n_title }}{% endif %}
{% endblock %}

{% block css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/cms/base.css' %}">
{% endblock %}

{% block body_extra %}{% wagtailuserbar %}{% endblock %}

{% block header_extra %}
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}" />
  {% get_current_language as LANGUAGE_CODE %}
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
  {% for language in languages %}
      <button type="submit" name="language" value="{{ language.code }}" class="btn btn-sm btn-secondary" {% if language.code == LANGUAGE_CODE %}disabled{% endif %}>
          {{ language.code }}
      </button>
  {% endfor %}
</form>
{% if request.is_preview %}
<span class="badge badge-warning">{% trans "Preview" %}</span>
{% endif %}
{% endblock %}

{% block content_heading %}
{% if page.get_ancestors|length > 1 %}
<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for page in page.get_ancestors.specific %}
        {% if not page.is_root %}
        <li class="breadcrumb-item"><a href="{% pageurl page %}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">{{ page }}</li>
      </ol>
    </nav>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-12">
    <h1 class="display-1">{{ page }}</h1>
  </div>
</div>
{% endblock %}

{% block content_main %}
<div class="col-12">
  <div class="list-group list-group-flush">
    {% for child_page in child_pages %}
    <a href="{{ child_page.url }}" class="list-group-item list-group-item-action">
      <i class="{{child_page.icon_class}}"></i> {{ child_page }}
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
