{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load wagtailuserbar %}
{% load wagtailcore_tags %}
{% load cms_tags %}

{% block title %}
Demo: {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.i18n_title }}{% endif %}
{% endblock %}

{% block body_extra %}{% wagtailuserbar %}{% endblock %}

{% block content_main %}
<div class="col-12">
  <div class="list-group list-group-flush">
    {% for child_page in child_pages %}
    <a href="{% cmsurl child_page %}" class="list-group-item list-group-item-action">
      <i class="{{child_page.icon_class}}"></i> {{ child_page }}
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
