{% extends "cms/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load cms_tags %}

{% block css %}{{block.super}}
<link rel="stylesheet" href="{% static 'vendor/ol/css/ol.css' %}" type="text/css">
{% endblock %}

{% block js %}{{block.super}}
<script src="{% static 'vendor/ol/js/ol.js' %}"></script>
<script src="{% static 'js/cms/static-map.js' %}"></script>
{% endblock %}

{% block content_heading_title %}
<div class="row my-4">
  <div class="col-12">
    <h1>{{ page }}</h1>
    <p>
      {% trans 'A memorial site for' %}
      {% for author, levels in authors.items %}
        <a href="#{{author.slug}}">{{author}}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
    {{page.i18n_introduction|richtext}}
    </ul>
  </div>
</div>
{% endblock %}

{% block content_main %}
  <div class="row my-4">
    <div class="col-sm-8">
      <div class="card">
        <div id="map" class="card-img-top"></div>
      </div>
      <script>
        (function() {
          const mapId = "map"
          const geojson = '{{ location.coordinates.geojson|safe }}'
          if (geojson) {
            const coordinates = JSON.parse(geojson).coordinates;
            createStaticMap(mapId, coordinates, "{% static 'icons/castle.png' %}");
          }
        })();
        </script>
    </div>

    <div class="col-sm-4">
      {% image page.title_image max-400x400 as tmp_image %}
      <figure class="figure w-100">
        <img src="{{ tmp_image.url }}" class="figure-img img-fluid" alt="{{ tmp_image.alt }}">
        <figcaption class="figure-caption">{{ tmp_image.image.i18n_caption }}</figcaption>
      </figure>
    </div>
</div>

{% for author, levels in authors.items %}
<div class="row my-4 py-4 border rounded">
  <div class="col-12">
    <h2 id="{{author.slug}}">{{author}}</h2>
    {% include 'cms/includes/levels.html' with levels=levels memorial_site=page %}
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
