{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% block title %}{% endblock %}
  </title>

  {% block head %}
    {% block css %}
      <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    {% endblock %}
  {% endblock %}
</head>

<body class="{% block body_classes %}{% endblock %}">
{% block body %}
  {% block body_extra %}{% endblock %}

  <div class="container">
    {% block header %}
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">

          {% block header_branding %}
          <a class="navbar-brand" href="{% url 'home:index' %}">
            {% include "includes/logo.html" %} LIS
          </a>
          {% endblock %}

          {% block header_menu %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              {% block header_menu_items %}
              <a class="nav-item nav-link mx-2" href="{% url 'signup' %}">Signup <i class="fas fa-key"></i></a>
              <a class="nav-item nav-link mx-2" href="https://redmine.lis-map.eu/">Ticketsystem <i class="fas fa-external-link-square-alt"></i></a>
              <a class="nav-item nav-link mx-2" href="/demo/">Preview <i class="fas fa-lock"></i></a>
              <a class="nav-item nav-link mx-2" href="{% url 'wagtailadmin_home' %}">CMS <i class="fas fa-lock"></i></a>
              <a class="nav-item nav-link mx-2" href="{% url 'home:impressum' %}">{% trans "Datenschutz" %} <i class="fas fa-paragraph"></i></a>
              {% endblock %}
            </div>
          </div>
          {% endblock %}

          <div class="float-right text-right">
            {% block header_extra %}{% endblock %}
          </div>
        </nav>
      </div>
    </div>
    {% endblock %}
  </div>

  <div class="container">
    {% block content %}

      {% block content_heading %}{% endblock %}

      {% block content_main %}{% endblock %}

      {% block content_footer %}{% endblock %}
    {% endblock %}
  </div>

  <div class="container-fluid">
    {% block footer %}{% endblock %}
  </div>
{% endblock %}

{% block js %}
<script src="{% static 'vendor/jquery/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'vendor/popper/js/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/holder/js/holder.min.js' %}"></script>
<script defer src="{% static 'vendor/fontawesome/js/fontawesome-all.js' %}"></script>
{% endblock %}
</body>
</html>
