.Draftail-Editor .Draftail-Toolbar {
  background-color: #e6e6e6;
  color: #333;
}

.object .multiple fieldset {
  width: 100%;
}

.object .multiple .multi-field legend {
  color: #333;
  font-size: 1.1em;
  font-weight: 500;
  height: auto;
  position: relative;
  text-transform: none;
  width: auto;
}

li.sequence-member .footnote-struct-block.struct-block > ul.fields {
  border: 1px solid #e6e6e6;
  margin: auto;
  padding: 1em;
  width: 90%;
}
