.Draftail-Editor .Draftail-Toolbar {
  background-color: #e6e6e6;
  color: #333;
}

li.sequence-member .paragraph-struct-block.struct-block ul.fields {
  width: 100%;
}

li.sequence-member .paragraph-struct-block.struct-block .sequence-container .sequence-container-inner {
    width: 100%;
}

li.sequence-member .footnote-struct-block.struct-block > ul.fields {
  border: 1px solid #e6e6e6;
  margin: auto;
  padding: 1em;
  width: 90%;
}
