.multiple .fields legend {
    position: relative;
    width: 100%;
    margin: 0;
    height: initial;
    font-weight: 600;
    font-size: 1em;
}

.multiple .fields legend::before {
    font-family: FontAwesome;
    content: "\f1ab";
    margin-right: 3px;
}
