html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body {
  margin-bottom: 4em;
}

a {
  color: #6c757d
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: rgba(0,0,0,.5);
  background-color: #f8f9fa;
}

.bookmark {
  color: #AA3F39;
}

.rich-text p {
  hyphens: auto;
  text-align: justify;
}

.footnotes p {
  margin-bottom: .5rem;
}
