{% extends "wagtailadmin/base.html" %}
{% load static %}

{% block branding_logo %}
  <div class="fa-4x">
	  {% include "includes/logo-alt.html" with version=CMS_VERSION %}
  </div>
{% endblock %}

{% block extra_css %}
  {{ block.super }}
	<style>
  .tab-content .object {
    padding-right: 20px;
  }
  .object-layout ul.multiple {
    width: 100%;
  }
  .tabbed-fields {
    font-family: inherit;
    font-size: inherit;
    padding: 0;
  }
  .tabbed-fields .field-content {
    width: 100%;
  }
  /* Quickfix to improve map widget size in admin interface. */
  .point_field .field-content {
    width: 100%;
  }
  .point_field .field-content .mw-wrap {
    width: 100%;
  }
  </style>
{% endblock %}
