{% extends "cms/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load cms_tags %}

{% block css %}{{block.super}}
<link rel="stylesheet" href="{% static 'vendor/ol/css/ol.css' %}" type="text/css">
{% endblock %}

{% block js %}{{block.super}}
<script src="{% static 'vendor/ol/js/ol.js' %}"></script>
<script src="{% static 'js/cms/static-map.js' %}"></script>
{% endblock %}

{% block content_heading_title %}
<div class="row my-4">
  <div class="col-12">
    <h1>
      {{ author.full_name_title }}
      {% if author_alt_names %}
      <br>
      <small class="text-secondary">
        {% if author.sex == 'F' %}{% trans 'Also known as' context 'female' %}{% else %}{% trans 'Also known as' context 'male' %}{% endif %} {{ author_alt_names|humanize_list }}.
      </small>
      {% endif %}
    </h1>

  </div>
</div>
{% endblock %}

{% block content_main %}
<div class="row my-4">
  {% include "cms/includes/author.html" %}
</div>
{% if memorial_sites or request.is_preview %}
<div class="row my-4">
  <div class="col-12">
    <h2>{% trans 'Memorial sites' %}</h2>
  </div>
  {% for memorial_site in memorial_sites %}
  <div class="col-12 my-2">
    <div class="row">
      <div class="col-sm-6">
        <div id="map-{{forloop.counter}}"></div>
      </div>
      <div class="col-sm-6">
        <h5><a href="{% cmsurl memorial_site %}">{{ memorial_site }}</a></h5>
        <p>{{ memorial_site.i18n_introduction|richtext }}</p>
      </div>
    </div>
  </div>
  <script>
    (function() {
      const mapId = "map-{{forloop.counter}}"
      const geojson = '{{ memorial_site.coordinates.geojson|safe }}'
      const coordinates = JSON.parse(geojson).coordinates;
      createStaticMap(mapId, coordinates, "{% static 'icons/castle.png' %}");
    })();
  </script>
  {% empty %}
  <div class="col-12">
    <p class="alert alert-danger">{% trans 'Preview' %}: {% trans 'Only published memorial sites can be listed here.' %}</p>
  </div>
  {% endfor %}
</div>
{% endif %}

<div class="row my-4 py-4 border rounded">
  <div class="col-12">
    {% include 'cms/includes/levels.html' with author=page levels=levels %}
  </div>
</div>
{% endblock %}
