{% extends "cms/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load cms_tags %}

{% block css %}{{block.super}}
<link rel="stylesheet" href="{% static 'vendor/ol/css/ol.css' %}" type="text/css">
{% endblock %}

{% block js %}{{block.super}}
<script src="{% static 'vendor/ol/js/ol.js' %}"></script>
<script src="{% static 'js/cms/static-map.js' %}"></script>
{% endblock %}

{% block content_heading_title %}
<div class="row my-4">
  <div class="col-12">
    <h1>{{ page }}</h1>
  </div>
</div>
{% endblock %}

{% block content_main %}
<div class="row my-4">
  <div class="col-sm-8">
    <div id="map"></div>
    <script>
      (function() {
        const mapId = "map"
        const geojson = '{{ page.coordinates.geojson|safe }}'
        if (geojson) {
          const coordinates = JSON.parse(geojson).coordinates;
          createStaticMap(mapId, coordinates, "{% static 'icons/castle.png' %}");
        }
      })();
    </script>
  </div>

  <div class="col-sm-4">
    {% image page.title_image max-400x400 as tmp_image %}
    <figure class="figure">
      <img src="{{ tmp_image.url }}" class="figure-img img-fluid rounded" alt="{{ tmp_image.alt }}">
      <figcaption class="figure-caption">{{ tmp_image.image.i18n_caption }}</figcaption>
    </figure>
    {% if page.i18n_address|dehtmlize %}
      <strong>{% trans 'Address' %}</strong>
      {{page.i18n_address|richtext}}
    {% endif %}

    {% if page.i18n_contact_info|dehtmlize %}
      <strong>{% trans 'Contact info' %}</strong>
      {{page.i18n_contact_info|richtext}}
    {% endif %}

    {% if page.i18n_directions|dehtmlize %}
      <strong>{% trans 'Directions' %}</strong>
      {{page.i18n_directions|richtext}}
    {% endif %}
  </div>
</div>

<div class="row my-4">
  {% for memorial_site in memorial_sites %}
  <div class="col-sm-6">
    <div class="row">
      {% if memorial_site.title_image %}
      <div class="col-4">
        {% image memorial_site.title_image fill-400x400 as tmp_image %}
        <img src="{{ tmp_image.url }}" class="img-fluid" alt="{{ tmp_image.alt }}">
      </div>
      {% endif %}
      <div class="{% if memorial_site.title_image %}col-8{% else %}col-12{% endif %}">
        <h4><i class="fas fa-sign"></i> <a href="{% cmsurl memorial_site %}">{{memorial_site}}</a></h4>
        {{memorial_site.i18n_introduction|richtext}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
