{% extends "cms/base.html" %}

{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content_main %}
  <div class="row">
    {% for child_page in child_pages %}
    <div class="col-sm-4 col-lg-3">
      <div class="card">
        {% if child_page.title_image %}
          {% image child_page.title_image fill-250x250 class="card-img-top img-fluid" %}
        {% else %}
          <img data-src="holder.js/250x250?auto=yes&theme=gray" class="card-img-top img-fluid">
        {% endif %}
        <div class="card-body">
          <a href="{{ child_page.url }}" class="card-link">{{ child_page }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
