{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% with date_of_birth=author.formatted_date_of_birth date_of_death=author.formatted_date_of_death %}
<div class="col-sm-8">

  <ul class="list-unstyled">
    {% if date_of_birth %}
    <li>{% trans 'Date of birth' %}: {{date_of_birth}}{% if author.i18n_place_of_birth %} {% trans 'in' %} {{ author.i18n_place_of_birth }}{% endif %}</li>
    {% endif %}

    {% if date_of_death %}
    <li>{% trans 'Date of death' %}: {{date_of_death}}{% if author.i18n_place_of_death %} {% trans 'in' %} {{ author.i18n_place_of_death }}{% endif %}</li>
    {% endif %}

    {% if author.language_tags.all %}
    <li>{% trans 'Languages' %}:
      {% for language in author.language_tags.all %}
      <span class="badge badge-pill badge-secondary mr-1">{{ language }}</span>
      {% endfor %}
    </li>
    {% endif %}

    {% if author.genre_tags.all %}
    <li>{% trans 'Categories' %}: {% for litarary_category in author.genre_tags.all %}<span class="badge badge-pill badge-secondary mr-1">{{ litarary_category }}</span>{% endfor %}</li>
    {% endif %}

    {% if author.literary_period_tags.all %}
    <li>{% trans 'Literary periods' %}: {% for literary_period in author.literary_period_tags.all %}<span class="badge badge-pill badge-secondary mr-1">{{ literary_period }}</span>{% endfor %}</li>
    {% endif %}
  </ul>
</div>

<div class="col-sm-4">
  {% image author.title_image max-400x400 as tmp_image %}
  <figure class="figure">
    <img src="{{ tmp_image.url }}" class="figure-img img-fluid rounded" alt="{{ tmp_image.alt }}">
    <figcaption class="figure-caption">{{ tmp_image.image.i18n_caption }}</figcaption>
  </figure>
</div>
{% endwith %}
