@import "~bootstrap/scss/functions";

$theme-colors: (
  "primary": #69140e,
);

$input-border-color: theme-color("primary");

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$border-color: theme-color("dark");
$badge-font-weight: 400;

$display1-size: 3rem;
$display2-size: 2rem;
$display3-size: 1.5rem;
$display4-size: 1.3rem;

$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-responsive-font-sizes: true;

$navbar-dark-color: #fff;

@import "~bootstrap/scss/variables";
