html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

a {
  color: #6c757d
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: rgba(0,0,0,.5);
  background-color: #f8f9fa;
}

.bookmark, .bookmark-backlink {
  color: #AA3F39;
}

.rich-text p {
  hyphens: auto;
}

.footnotes p {
  margin-bottom: .5rem;
}

.popover p {
  margin-bottom: 0;
}

.logo {
  margin: 1em;
  max-width: 200px;
  max-height: 80px;
}
