{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<section class="row block">
  <div class="col-12">
    {% if value.heading %}
    <h4>{{ value.heading }}</h4>
    {% endif %}

    {% if value.images %}
    <div class="row align-items-center">
      {% for image in value.images %}
      {% image image max-400x400 as rendition %}
      <div class="col-6 col-sm-4 col-md-3 col-xl-2">
        <img src="{{ rendition.url }}" class="img img-fluid shadow my-2" style="cursor: pointer;" alt="{{ image.i18n_title }}" data-toggle="modal" data-target="#{{ prefix }}-img-{{ forloop.counter }}">
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% include_block value.content %}

    {% if value.footnotes %}
    <footer class="footnotes">
      <h5>{% trans 'Additional notes and sources' %}</h5>
      <ol>
      {% for footnote in value.footnotes %}
        {% include_block footnote %}
      {% endfor %}
      </ol>
    </footer>
    {% endif %}

    {% if value.images %}
    {% for image in value.images %}
    {% image image max-1000x1000 as rendition %}
    <div class="modal carousel-modal fade" id="{{ prefix }}-img-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="{{ prefix }}-img-{{ forloop.counter }}-label" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="{{ prefix }}-img-{{ forloop.counter }}-label">{{image.i18n_title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img data-src="{{ rendition.url }}" class="d-block w-100 carousel-modal-rendition" alt="{{ image.i18n_alt }}">
          </div>
          {% if image.i18n_caption %}
          <div class="modal-footer">
            {{ image.i18n_caption|richtext}}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <script>
    $("#{{ prefix }}-img-{{ forloop.counter }}").on('show.bs.modal', function (e) {
      const rendition = $(".carousel-modal-rendition", e.target)[0];
      rendition.src = rendition.dataset.src;
    });
    </script>
    {% endfor %}
    {% endif %}
  </div>
</section>
