{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<section>

  {% if value.heading %}
  <h4>{{ value.heading }}</h4>
  {% endif %}

  <div class="row">

    <div class="col-12 col-lg-3 order-lg-last">
      <div class="row">
        {% for image in value.images %}
          <div class="col-12 col-xs-6 col-sm-4 col-lg-12 flex-lg-column">
            {% image image max-200x200 as rendition %}
            <figure class="figure d-flex flex-column align-items-center">
              <img src="{{ rendition.url }}" class="figure-img img-fluid shadow" alt="{{ image.i18n_alt }}" data-toggle="modal" data-target="#img-{{ image.pk }}">
              {% if image.i18n_caption %}
                <figcaption class="figure-caption p-2">{{ image.i18n_caption|richtext }}</figcaption>
              {% endif %}
            </figure>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-xs-12 col-md-9">
      {% include_block value.content %}

      {% if value.footnotes %}
        <footer class="footnotes">
          <ol class="border-left">
            {% for footnote in value.footnotes %}
              {% include_block footnote %}
            {% endfor %}
          </ol>
        </footer>
      {% endif %}
    </div>

  </div>

  {% if value.images %}
  {% for image in value.images %}
  {% image image max-1000x1000 as rendition %}
  <div class="modal fade" id="img-{{ image.pk }}" tabindex="-1" role="dialog" aria-labelledby="img-{{ image.pk }}-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <figure class="figure d-flex flex-column align-items-center">
            <img data-src="{{ rendition.url }}" class="figure-img img-fluid modal-rendition" alt="{{ image.i18n_alt }}" data-toggle="modal" data-target="#img-{{ image.pk }}">
            {% if image.i18n_caption %}
            <figcaption class="figure-caption p-2">{{ image.i18n_caption|richtext}}</figcaption>
            {% endif %}
          </figure>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</section>
