{% extends 'app/readable.html' %}

{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load cms_tags %}

{% block Content %}

  <div class="Author container mt-4">
    <div class="row">
      <div class="col-12">
        <div class="Intro row">
          {% if author.title_image %}
              {% image author.title_image max-500x500 as title_image %}
              <figure class="figure col-sm-4 d-flex flex-column align-items-center" style="max-width: 250px;">
                <img src="{{ title_image.url }}" class="figure-img img-fluid shadow" alt="{{ title_image.alt }}">
                <figcaption class="figure-caption p-2">{{ title_image.image.i18n_caption }}</figcaption>
              </figure>
          {% endif %}

          <div class="col-sm-4">
            <h3 class="mt-0">{{ author.i18n_title }}</h3>
            <dl>

              {% if author_alt_names %}
                <dt>{% trans 'also known as ' %}</dt>
                <dd>{{ author_alt_names|join:', ' }}</dd>
              {% endif %}

              {% if author.formatted_date_of_birth  %}
              <dt>{% trans 'born' %}</dt>
              <dd>
                {{ author.formatted_date_of_birth }}
                {% if author.place_of_birth %}
                  {% blocktrans with place=author.place_of_birth %}
                    in {{ place }}
                  {% endblocktrans %}
                {% endif %}
              </dd>
              {% endif %}

              {% if author.formatted_date_of_death %}
              <dt>{% trans 'died' %}</dt>
              <dd>
                {{ author.formatted_date_of_death }}
                {% if author.place_of_death %}
                  {% blocktrans with place=author.place_of_death %}
                    in {{ place }}
                  {% endblocktrans %}
                {% endif %}
              </dd>
              {% endif %}

              {% if author.language_tags.all %}
                <dt>{% trans 'Languages' %}</dt>
                <dd>
                  {% for language in author.language_tags.all %}
                    <span class="badge badge-pill badge-secondary mr-1">{{ language }}</span>
                  {% endfor %}
                </dd>
              {% endif %}

              {% if author.genre_tags.all %}
                <dt>{% trans 'Genre' %}</dt>
                <dd>
                  {% for genre in author.genre_tags.all %}
                    <span class="badge badge-pill badge-secondary mr-1">{{ genre }}</span>
                  {% endfor %}
                </dd>
              {% endif %}

              {% if author.literary_period_tags.all %}
                <dt>{% trans 'Literary periods' %}</dt>
                <dd>
                  {% for literary_period in author.literary_period_tags.all %}
                    <span class="badge badge-pill badge-secondary mr-1">{{ literary_period }}</span>
                  {% endfor %}
                </dd>
              {% endif %}

            </dl>
          </div>

          <div class="col-sm-4">
            {% for memorial in author.memorials.all %}
              {% image memorial.title_image fill-100x100 as memorial_title_image %}
              <img src="{{ memorial_title_image.url }}" class="img img-fluid shadow" alt="{{ memorial_title_image.alt }}">
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="btn-group d-flex" role="group">
          {% for level in levels %}
            <button type="button" class="Level-Btn btn btn-primary {% if forloop.first %}active{% endif %}" data-group="Level" data-target="#level-{{ level.pk }}">{{ level }}</button>
          {% endfor %}
        </div>
      </div>

      <div class="col-12">
        {% for level in levels %}
          <article id="level-{{ level.pk }}" class="mt-4 Level collapse {% if forloop.first %}show{% endif %}">
            {% for text in level.get_texts %}
              <h3>{{ text.heading }}</h3>
              {% for section in text.field %}
                {% include_block section with id=section.id %}
              {% endfor %}
            {% endfor %}
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
