{% load i18n %}
{% load staticfiles %}
{% load wagtailcore_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as current_language %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ 'LIS' }}</title>

  <link rel="stylesheet" href="{% static 'app/index.css' %}">
</head>
<body>

<noscript>You need to enable JavaScript to run this app.</noscript>

<div id="App"></div>

{% csrf_token %}

{% block Scripts %}
  <script src="{% static 'app/vendor.bundle.js' %}"></script>
  <script src="{%  static 'app/index.js' %}"></script>
{% endblock %}

</body>
</html>
