{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% with date_of_birth=author.formatted_date_of_birth date_of_death=author.formatted_date_of_death %}
<div class="col-sm-8">

  <ul class="list-unstyled">
    {% if date_of_birth %}
    <li>{% trans 'Date of birth' %}: {{date_of_birth}}</li>
    {% endif %}

    {% if date_of_death %}
    <li>{% trans 'Date of death' %}: {{date_of_death}}</li>
    {% endif %}

    {% if author.author_languages.all %}
    <li>{% trans 'Languages' %}:
      {% for author_language in author.author_languages.all %}
      <span class="badge badge-pill badge-secondary mr-1">{{author_language}}</span>
      {% endfor %}
    </li>
    {% endif %}

    {% if author.author_literary_categories.all %}
    <li>{% trans 'Categories' %}: {% for cat in author.author_literary_categories.all %}<span class="badge badge-pill badge-secondary mr-1">{{cat}}</span>{% endfor %}</li>
    {% endif %}

    {% if author.author_literary_periods.all %}
    <li>{% trans 'Literary periods' %}: {% for per in author.author_literary_periods.all %}<span class="badge badge-pill badge-secondary mr-1">{{per}}</span>{% endfor %}</li>
    {% endif %}
  </ul>
</div>

<div class="col-sm-4">
  {% image author.title_image fill-200x200 as tmp_image %}
  <figure class="figure">
    <img src="{{ tmp_image.url }}" class="figure-img img-fluid rounded" alt="{{ tmp_image.alt }}">
    <figcaption class="figure-caption">{{ tmp_image.image.i18n_caption }}</figcaption>
  </figure>
</div>
{% endwith %}
