{% load i18n %}
{% load wagtailcore_tags %}
{% load cms_tags %}

<ul class="nav nav-pills nav-justified" id="levels" role="tablist">
  {% for level in levels %}
  {% with author.slug|addstr:"-level-"|addstr:forloop.counter as prefix %}
  <li class="nav-item">
      <a class="nav-link" id="{{ prefix }}-tab" href="#{{ prefix }}" role="tab" aria-controls="{{level}}">{{level}}</a>
  </li>
  {% endwith %}
  {% endfor %}
</ul>

<div class="tab-content" id="levels-content">
  {% for level in levels %}
  {% with author.slug|addstr:"-level-"|addstr:forloop.counter as prefix %}
  <div class="tab-pane fade show" id="{{ prefix }}">
    <div class="row">
      <div class="col-12">
        <article class="mt-2">
          <nav>
            <h3>{% trans 'Content' %}</h3>
            <ol class="nav flex-column">
              {% if memorial_site %}
                {% if forloop.parentloop.counter == 1 or forloop.parentloop.counter == 2 %}
                <li class="nav-item">
                  <a class="nav-link" href="#{{ prefix }}-field-0">{% trans 'Memorial site' %}</a>
                </li>
                {% endif %}
              {% endif %}

              {% for text in level.get_texts %}
              {% with prefix_block=prefix|addstr:"-field-"|addstr:forloop.counter %}
              <li class="nav-item">
                <a class="nav-link" href="#{{ prefix_block }}">{{text.0}}</a>
              </li>
              {% endwith %}
              {% endfor %}
            </ol>
          </nav>

          {% if memorial_site %}
            {% if forloop.counter == 1 and memorial_site.i18n_description %}
              <h3 id="level-{{forloop.counter}}-field-0">{% trans 'Memorial site' %}</h3>
              {% include_block memorial_site.i18n_description with prefix=prefix|addstr:"block-0" %}
            {% endif %}
            {% if forloop.counter == 2 and memorial_site.i18n_detailed_description %}
              <h3 id="level-{{forloop.counter}}-field-0">{% trans 'Memorial site' %}</h3>
              {% include_block memorial_site.i18n_detailed_description with prefix=prefix|addstr:"block-0" %}
            {% endif %}
          {% endif %}

          {% for text in level.get_texts %}
          {% with prefix_block=prefix|addstr:"-field-"|addstr:forloop.counter %}
            <h3 id="{{ prefix_block }}">{{ text.0 }}</h3>
            {% for section in text.1 %}
              {% include_block section with prefix=prefix_block|addstr:"-section-"|addstr:forloop.counter %}
            {% endfor %}
          {% endwith %}
          {% endfor %}
        </article>
      </div>
    </div>
  </div>
  {% endwith %}
  {% endfor %}
</div>
<script>
$(function () {
  const hash = window.location.hash;
  $("#levels li:first-child a").tab('show');
  if (hash) {
    const el = $(`#levels li a[href='${hash}']`);
    if (el) {
      el.tab('show');
    }

  }
  $('#levels a').on('click', function (e) {
    $(this).tab('show');
  });
});
</script>
