.label, label {
    font-weight: 400;
    font-size: 1rem;
}

.ui-tabs {
    padding: 0;
}

.ui-widget-header .ui-state-default {
    border: 0;
}

.ui-tabs .ui-tabs-nav li {
    border-bottom: 1px solid #e4e4e4;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: inherit;
    padding-bottom: inherit;
    border-bottom: 1px solid #49c0c1;
}

.ui-widget-header {
    border: #aaa;
    background: #e4e4e4;
}

.Draftail-Editor .Draftail-Toolbar {
  background-color: #e6e6e6;
  color: #333;
}

.Draftail-Editor .Draftail-ToolbarButton--active {
    background-color: #aaa;
    border: 1px solid #aaa;
}

.Draftail-Editor blockquote {
  border-left: 1px solid black;
  padding-left: 1em;
  font-style: italic;
}

/* hotfix: disable root page in page chooser */
.choose-page[data-id="1"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.block_field>h2 {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

li.sequence-member .paragraph-struct-block.struct-block ul.fields {
  width: 100%;
}

li.sequence-member .paragraph-struct-block.struct-block .sequence-container .sequence-container-inner {
    width: 100%;
}

li.sequence-member .footnote-struct-block.struct-block > ul.fields {
  border: 1px solid #e6e6e6;
  margin: auto;
  padding: 1em;
  width: 90%;
}

/* show hidden fieldset legends */
.object .multiple fieldset {
  width: 100%;
}

.autocomplete .model_choice_field .input select~span:after {
    content: "";
}
