{% load i18n %}

<form name="filter-form" class="p-2" action="javascript:void(0);">

  <div class="form-group">
    <label for="search">{% trans 'Name' %}</label>
    <div class="input-group">
      <input id="search" name="search" type="text" class="form-control" placeholder="{% trans 'Search' %}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="btn-search">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  {% for content_filter in content_filters %}
    <div class="form-group">
      <label for="{{ content_filter.name }}">
        {{ content_filter.label }}
      </label>
      <input id="{{ content_filter.name }}" class="content-filter" name="{{ content_filter.name }}" data-field="{{ content_filter.field }}" data-endpoint="{{ content_filter.endpoint }}" type="text">
    </div>
  {% endfor %}

  <div class="form-group">
    <label for="gender">
      {% trans 'Gender' %}
    </label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="genderRadio1" value="" checked>
      <label class="form-check-label" for="genderRadio1">{% trans 'All' %}</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="genderRadio2" value="F">
      <label class="form-check-label" for="genderRadio2">{% trans 'Female' %}</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="genderRadio3" value="M">
      <label class="form-check-label" for="genderRadio3">{% trans 'Male' %}</label>
    </div>
  </div>
</form>
