{% load i18n %}
{% load wagtailcore_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as current_language %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="btn-group-vertical">
  <a href="{% slugurl 'map' %}" class="btn btn-light text-left">
    <i class="fas fa-globe fa-fw"></i> {% trans 'Map' %}
  </a>
  <a href="{% slugurl 'author' %}" class="btn btn-light text-left">
    <i class="fas fa-users fa-fw"></i> {% trans 'Authors' %}
  </a>
  <a href="{% slugurl 'about' %}" class="btn btn-light text-left">
    <i class="fas fa-info fa-fw"></i> {% trans 'About' %}
  </a>
  <a href="{% url 'wagtailadmin_home' %}" class="btn btn-light text-left">
    <i class="fas fa-sign-in-alt fa-fw"></i> {% trans 'Admin' %}
  </a>
  <a href="{% slugurl 'imprint' %}" class="btn btn-light text-left">
    <i class="fas fa-gavel fa-fw"></i> {% trans 'Imprint' %}
  </a>

  <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />

    <div class="dropdown">
      <button
        class="btn btn-light dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-language fa-fw"></i> {% trans current_language.name %}
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for language in languages %}
          <button name="language" value="{{ language.code }}" type="submit" class="btn btn-sm btn-outline-secondary dropdown-item" {% if language.code == LANGUAGE_CODE %}disabled{% endif %}>{{ language.name }}</button>
        {% endfor %}
      </div>
    </div>
  </form>
</div>
